@{
    ViewData["Title"] = "Privacy Policy"; @* Setter sidetittelen som vises i layouten *@
}

<body class="bg-cover bg-center" style="background-image: url('/images/BackgroundImageGreen.png'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">

    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</body>
